<div class="container">
  <!--Card-->
  <div class="usercard">
    <i class="pin" style="margin-top:7em;"></i>
    <h3 style="text-align: center;">나만의 Desk 만들기</h3>

    <div class="subscribe-form-wrapper">
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: 'subscribe-form'})  do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.email_field :email, class: 'form-input', placeholder: "Email Address", autofocus: true %><br>
        </div>

        <div class="field">
          <%= f.password_field :password, class: 'form-input', placeholder: "Password(#{@minimum_password_length}자 이상)", autocomplete: "off" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, class: 'form-input', placeholder: "Password Confirmation", autocomplete: "off" %>
        </div>

        <div class="actions text-center">
          <%= f.submit "Desk 만들기", class: "btn btn-default" %>
					<%= render "devise/shared/links" %>
        </div>
      <% end %>
    </div>

  </div>
</div>
