<div class="card col s3 agenda">
  <div>
    <a class="waves-effect waves-light btn hiders" id="agenda1" style="width:100%; background-color:#81d4fa; display:none;">전기자동차</a>
  </div>
  <div class="card-image waves-effect waves-block waves-light">
    <a href="/agendas/<%= @agenda.id %>/posts/<%= p.id %>">
      <img class="activator" src="<%= p.pic %>" height="200px" width="300px">
    </a>
  </div><br>
  <div class="card-content">
  <a href="<%= p.url %>" style="color:black;">
    <span class="card-title activator grey-text text-darken-4"><%= p.title %><i class="material-icons right">more_vert</i></span>
    <p><a href="<%= p.url %>" style="color:black;"><%= p.abstract %></a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4"><%= p.title %><i class="material-icons right">close</i></span>
    <p><%= p.my_comment(current_user) %></p>
  </div>
</div>