<%= form_for @post do |f| %>
    <%= f.label :url %>
    <%= f.text_field :url, class: "input-field" %>
    <br>
    <%= f.fields_for :agenda, Agenda.new do |a| %>
    <p>
      <%= a.label :name, "Agenda" %><br />
      <%= a.text_field :name %><br />
    </p>
    <% end %>
    <br>
    <%= f.fields_for :comments, Comment.new do |c| %>
    <p>
      <%= c.label :content, "Comment" %><br />
      <%= c.text_area :content, :rows => 3 %><br />
    </p>
    <% end %>
    <br>
    <%= f.submit "Create", class: "btn" %>
<% end %>
