<%= form_for @post do |f| %>
    <%= f.label :url %>
    <%= f.text_field :url, class: "input-field" %>
    <br>
    
    <!--whether make new or choose one -->
    <%#= f.check_box :field, {:class => "myclass", :style => "mystyle"}, "checked-value", "unchecked-value" %>
    
    <!--making a new agenda--!>
    <%= f.fields_for :agenda, Agenda.new do |a| %>
    <p>
      <%= a.label :name, "New Agenda" %><br />
      <%= a.text_field :name %><br />
    </p>
    <% end %>
    
    <!--selecting one of existing agendas-->
    <p>
      <%= f.label :agenda_id, "Existing Agenda" %>
      <%= f.text_field :agenda_id %>
    </p>
    
    <br>
    <%= f.fields_for :comments, Comment.new do |c| %>
    <p>
      <%= c.label :content, "Comment" %><br />
      <%= c.text_area :content, :rows => 3 %><br />
    </p>
    <% end %>
    <br>
    <%= f.submit "Create", class: "btn" %>
<% end %>
