<!--post의 내용-->
<%= @post.url %>
<%= @post.title %>
<%#= @post.agenda.name %>
<%#= @post.pic %>
<%#= @post.abstract %>


<!--자신이 쓴 코멘트-->
<p><%= current_user.id %>'s comment</p>
<% unless @my_comment.empty? %>
  <%= @my_comment.content %></br>
<% end %>
<!--share한 다른 user의 코멘트-->
<p>shared comment</p>
<% @share_comment.each do |c|%>
  <%= c.content %></br>
<% end %>
<!--같은 링크에 대한 다른 user의 코멘트-->
<p>another comment</p>
<% @unshare_comment.each do |c|%>
  <%= c.content %> <%= link_to "SHARE", posts_share_path(post_id: c.post_id, content: c.content, writer: c.writer, share: current_user.id), method: 'post' %></br>
<% end %>
