


<body id="front-page">
	<!-- Page Wrapper -->
	<div id="page">
    <!-- Main Content -->
		<div class="content-wrapper">
			<!-- Main Slider -->
			<div class="main-slider">
				<ul class="items clean-list">
				
				  <!--최근 기사들-->
				  <% @posts.take(4).each do |p| %>
  					<li class="item gallery-cell">
  						<img width="840" height="542" src="<%= p.pic %>" alt="slider item cover" />
  						<div class="slide-components">
  							<h3 class="title slide-component first-row"><a href="<%= p.url %>"><%= p.title %></a></h3>
  							<hr class="slide-component second-row" />
  							<a href="<%= p.url %>" class="link slide-component third-row">기사 보러 가기</a>
  							<hr class="slide-component second-row" />
  							<a href="<%= agenda_post_path(p.agenda_id, p.id) %>" class="link slide-component third-row">상세 보기</a>
  						</div>
  					</li>
					<% end %>

				</ul>
			</div>
		</div>
	</div>
</body>

